{
  "repository name, from w3c/ etc": [
    {
      "name": "label name for tracking specific rec",
      "full": "full title of the rec",
      "rec": "latest rec under /TR/",
      "draft": "github link",
      "latest": "latest publication date"
    }
  ]
}
