{
  "repository name, from w3c/ etc": {
    "wgname": "Working Group full name, like CSVW or TTWG",
    "specname": "Specification name, if any, like TTML1 in TTWG",
    , "recs": [
      {
        "name": "label name for tracking specific rec",
        "full": "full title of the rec",
        "rec": "latest rec under /TR/",
        "draft": "github link",
        "latest": "latest publication date"
      }
    ]
  }
}
